endpoint_add_tcp "0.0.0.0:1318"
endpoint_add_udp "0.0.0.0:1318"

set sv_enforceGameBuild 2372

################################
#Connection PHPMYADMIN
################################

set mysql_connection_string "server=ip_server;database=nom_db;userid=username;password=mots_de_passe"
set es_enableCustomData 1 

#essentialmode command
add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.sets allow

sv_maxclients 64
set steam_webApiKey 
set sv_licenseKey 

########################################

#-----ONESYNC----#
set onesync_enabled 1
set onesync_forceMigration true
set onesync_workaround763185 true

#------- Default -------#
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog

#------- Essential -------#
ensure es_extended
ensure async
ensure essentialmode
ensure esplugin_mysql
ensure mysql-async
ensure cron
ensure instance

#------- UI + Dependence + Menu -------#

ensure esx_menu_default
ensure esx_menu_dialog
ensure esx_menu_list
ensure NativeUI

#----voix----#
ensure mumble-voip
ensure rp-radio

ensure menuF5

#-------- Autre -------#
ensure hud
ensure Discord

#------ ESX ------#
ensure core_utils
ensure e_shop
ensure e_location
#------ Base ------#
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_billing
ensure esx_datastore
ensure esx_license
ensure esx_society
ensure esx_basicneeds
ensure esx_optionalneeds 
ensure esx_status

#------ Personnage ------#
ensure esx_identity
ensure skinchanger
ensure esx_skin
ensure jsfour-idcard

#------ Job ------#
#--Cardealer---#
ensure esx_vehicleshop

#--- LSPD ---#
ensure policejob

#--- Ambulance ---#
ensure e_ambulance


#------ Mapping ------#
ensure bob74_ipl

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

sets tags "Roleplay"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "fr-FR" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "Base dev en stream"

# Set your server's Project Name
#sets sv_projectName "My Pterodactyl Project"

# Set your server's Project Description
#sets sv_projectDesc "Default Pterodactyl requiring configuration"

# Nested configs!
#exec resources.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
#set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

restart sessionmanager